<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.mxin.test" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>TestPlugin</name><js-module name="TestPlugin" src="www/TestPlugin.js"><clobbers target="cordova.plugins.TestPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="TestPlugin"><param name="ios-package" value="TestPlugin" /></feature></config-file><source-file src="src/ios/TestPlugin.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="TestPlugin"><param name="android-package" value="com.mxin.test.TestPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/TestPlugin.java" target-dir="src/com/mxin/test/TestPlugin" /></platform></plugin>